@(form: Form[Login.LoginModel])

@main("Login", null) {
<h2>Sign in</h2>
@helper.form(routes.Login.authenticate) {
<div class="row-fluid">
	<div class="span6">
		@if(form.hasGlobalErrors) {
                <p class="error">
                    @form.globalError.message
                </p>
            }
            
        @if(flash.contains("success")) {
            <p class="success">
                @flash.get("success")
            </p>
        }
            
		<div class="form-group">
			<label for="username">Username: </label>
			<input type="text" name="username" placeholder="Username" class="form-control" value="@form("username").value">
		</div>
		<div class="form-group">
			<label for="password">To: </label>
			<input type="password" name="password" placeholder="Password" class="form-control">
		</div>
		<div class="form-actions">
			<button id="login" type="submit" class="btn btn-primary">Login</button>
			<a href=@routes.Twitter.auth() class="btn">Login with Twitter</a>
			<a href=@routes.Login.index() class="btn">Cancel</a>
		</div>
	</div>
</div>
} }